---
import BaseLayout from "@components/base/BaseLayout.astro";
import BookCard from "@components/books/Card.astro"; // Rename if you like
import Pagination from "@components/common/Pagination.astro";
import PageHeader from "@components/common/PageHeader.astro";
import type { BooksEntry } from "@/types";

interface Props {
  entryIndex: BooksEntry;
  entries: BooksEntry[];
  pageIndex: number;
  pageCount: number;
}

const { entryIndex, entries, pageIndex, pageCount }: Props = Astro.props;
---

<BaseLayout
  title={entryIndex.data.title}
  image={entryIndex.data.image?.src}
  description={entryIndex.data.description}
>
  <section class="flex justify-center">
    <div class="container text-center m-2">
      <div class="rounded-lg p-0 bg-gradient-to-t gradient">
        <div
          class="rounded-lg glass px-8 py-6 intersect:animate-fadeDown opacity-0 intersect-no-queue"
        >
          <h1 set:text={"The Elsebeneath Series"} />
          <p>
            A set of adventures in the <em>Elsebeneath</em>, a whimsical world
            of becoming.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section m-2">
    <div class="container">
      <div class="flex flex-wrap justify-center">
        {
          entries
            .filter((e) => !e.data.hidden)
            .map((entry) => (
              <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-2">
                <BookCard entry={entry} />
              </div>
            ))
        }
      </div>
      <Pagination
        collection="books"
        pageIndex={pageIndex}
        pageCount={pageCount}
      />
    </div>
  </section>
</BaseLayout>
