---
import type { BooksEntry } from "@/types";
import Share from "@components/common/Share.astro";
import { Image } from "astro:assets";
import BaseLayout from "@components/base/BaseLayout.astro";
import { render } from "astro:content";

interface Props {
  entry: BooksEntry;
}

const { entry } = Astro.props;
const { title, image, imageAlt, author, description } = entry.data;

const { Content } = await render(entry);
---

<BaseLayout title={title} description={description} image={image?.src}>
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10 flex flex-wrap content-start">
          <!-- Title -->
          <h1 set:html={title} class="p-2 col basis-full min-w-72" />
          <!-- Cover Photo -->
          {
            image && (
              <div class="col basis-2/3 p-2 min-w-72">
                <div class="glass rounded-lg intersect:animate-fadeDown opacity-0">
                  <Image
                    class="w-full rounded-lg"
                    src={image}
                    alt={imageAlt}
                    width={1920}
                    height={1080}
                    loading="eager"
                  />
                </div>
              </div>
            )
          }
          <!-- About -->
          <section class="col basis-1/3 p-2 min-w-72">
            <div
              class="glass rounded-lg p-2 h-full intersect:animate-fadeUp opacity-0"
            >
              <!-- Description -->
              {
                description && (
                  <div>
                    {author ? <hr class="my-2" /> : null}
                    <div class="m-4">
                      <Content />
                      {entry.data.readLink && (
                        <div class="mt-6 text-right">
                          <a
                            target="_blank"
                            href={entry.data.readLink}
                            class="inline-block rounded-lg bg-accent px-4 py-2 text-white font-semibold shadow hover:bg-accent/80 transition"
                          >
                            Read the Full Story →
                          </a>
                        </div>
                      )}
                    </div>
                  </div>
                )
              }
            </div>
          </section>
        </article>
        <!-- Share -->
        <div
          class="flex col-10 p-2 items-center justify-center lg:justify-end px-6"
        >
          <Share
            title={title}
            description={description}
            folder="books"
            id={entry.id}
          />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
